div.field-name-field-dates div.date-no-float {
  display:inline-block;
  width:auto;
}
div.field-name-field-dates div.date-no-float div.date-padding,
div.field-name-field-dates div.date-no-float div.date-padding div.form-item {
  padding-top:0px;
  padding-bottom:0px;
}
div.field-name-field-dates div.date-no-float label {
  display:inline-block;
  vertical-align:middle;
  float:left;
  height:100%;
}

div.field-name-field-kickoff-fee-paid {
  display:none;
}

div#edit-field-campaigns-und div.form-type-checkbox {
  margin-right:2em;
  display:inline-block;
}

div.sliderfield-bubble:before {
  content:"$";
}

div#edit-field-bid-und-value {
  margin-left:4em;
}

div.edit-field-web-ad-landing-page-und-0-value-msg,
div.edit-field-facebook-ad-landing-page-und-0-value-msg {
  display:block;
  margin-top:0px;
  font-size:x-small;
}


div.adroll-pixel-check-on-profile {
  font-size:xx-small;
  text-align:right;
}
div.adroll-pixel-check-on-profile img {
  display:inline;
}
div.adroll-pixel-check-on-profile span {
  font-weight:bold;
}
div.adroll-pixel-check-on-profile span.kosher {
  color:green;
}
div.adroll-pixel-check-on-profile span.no-adroll,
div.adroll-pixel-check-on-profile span.bad-url {
  color:red;
}
input#edit-field-web-ad-landing-page-und-0-value.bad-url,
input#edit-field-facebook-ad-landing-page-und-0-value.bad-url,
input#edit-field-web-ad-landing-page-und-0-value.no-adroll,
input#edit-field-facebook-ad-landing-page-und-0-value.no-adroll {
  border:1px solid red;
  outline:0px;
}
input#edit-field-web-ad-landing-page-und-0-value.kosher,
input#edit-field-facebook-ad-landing-page-und-0-value.kosher {
  border:1px solid green;
  outline:0px;
}
div.edit-field-web-ad-landing-page-und-0-value-msg.no-adroll,
div.edit-field-facebook-ad-landing-page-und-0-value-msg.no-adroll,
div.edit-field-web-ad-landing-page-und-0-value-msg.bad-url,
div.edit-field-facebook-ad-landing-page-und-0-value-msg.bad-url {
  font-weight:bold;
  color:red;
}
div.edit-field-web-ad-landing-page-und-0-value-msg.kosher,
div.edit-field-facebook-ad-landing-page-und-0-value-msg.kosher {
  font-weight:bold;
  color:green;
}

fieldset.group-facebook,
fieldset.group-web {
  padding-top:0px;
  display:none;
  border-radius:2em;
  background-color:LightCyan;
  border:0px;
}
fieldset.group-facebook {
  background-color:LightCyan;
}
fieldset.group-web {
  background-color:LemonChiffon;
}
fieldset.group-web fieldset,
fieldset.group-web div,
fieldset.group-facebook fieldset,
fieldset.group-facebook div {
  background-color:transparent;
}

form.node-ad_campaign-form div.form-item-title {
  display:inline-block;
  vertical-align:top;
}

form.node-ad_campaign-form div.field-name-field-dates legend {
  display:none;
}
form.node-ad_campaign-form div.field-name-field-dates {
  vertical-align:top;
  display:inline-block;
  border:0px;
  padding-top:0px;
}
form.node-ad_campaign-form div.field-name-field-dates fieldset,
form.node-ad_campaign-form div.field-name-field-dates div {
  padding-top:0px;
  margin-top:0px;
  padding-bottom:0px;
  margin-bottom:0px;
  border:0px;
}
form.node-ad_campaign-form div.field-type-image fieldset,
form.node-ad_campaign-form div.field-type-image div {
  padding:0px;
  margin:0px;
  border:0px;
}
form.node-ad_campaign-form div.field-type-image legend span {
  position:relative;
  display:block;
  padding-top:1em;
  padding-left:0px;
}

form.node-ad_campaign-form input[type=checkbox] {
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
}

fieldset#edit-field-facebook-ads-und,
fieldset#edit-field-web-ads-und {
  border:0px;
}
 
div#edit-field-campaigns-und {
  font-size:large;
}

img.adroll-inline-icon {
  max-width:1em;
  max-height:1em;
}
pre.socialism-adroll-pixel,
p.socialism-adroll-pixel {
  display:none;
}
h3.socialism-adroll-toggle {
  cursor:pointer;
}
tr.adroll-completed,
tr.adroll-ended {
  color:DarkGray;
}
tr.adroll-rejected td {
  text-decoration: line-through;
  color:LightGray;
}
tr.adroll-rejected td:last-child {
  color:Crimson;
  font-weight:bold;
}
tr.adroll-approved,
tr.adroll-running {
  font-weight:bold;
}

section#block-socialism-current-adroll-campaigns {
  display:block;
  clear:both;
  width:100%;
}
section#block-socialism-adroll-segments-table {
  display:inline-block;
  width:75%;
  float:left;
}
p.adroll-pooltotal {
  font-size:large;
}
/*
td.adroll-digits,
span.adroll-digits {
  font-family:monospace;
  font-size:large;
}
*/
tr.adroll-mine td {
  border:2px solid;
  background-color:white;
}
p.adroll-caption {
  font-weight:bold;
  padding-top:0px;
  padding-bottom:0.25em;
  margin-bottom:0px;
  font-size:large;
  text-align:center;
  font-style:italic;
}
table.adroll-campaigns tr:first-child,
table.socialism-audience tr:first-child {
  border-top:1px solid Gray;
}

body.node-type-ad-campaign div#block-block-5 {
  margin-bottom:3em;
}

.r_arrow_small {
  width:1em;
  height:1em;
  margin-right:0.3em;
  vertical-align:middle;
}

form.node-ad_campaign-form div.form-actions input[type="submit"] {
  font-size:2em;
}
